<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>个人信息</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <style>
        #topDiv{margin:10px auto;text-align: center}
        #topDiv #portrait img{width:200px;height:280px;margin-bottom: 20px;}
        #topDiv span{font-size:25px;color:#f75000;font-weight:700;}
        .row{padding:15px auto;font-size:20px;}
        .leftTitle{text-align: right;font-weight: 500;font-size:20px;}
    </style>
</head>
<body>
<section>
    <th:block th:include="adminAx/leftSide">
    </th:block>

    <!-- main content start-->
    <div class="main-content" >
        <th:block th:include="adminAx/headSide">
        </th:block>
        <div class="wrapper">
            <div class="container"  style="width:90%;overflow-x:hidden;">
                <div class="row-fluid">
                    <div class="col-md-12">
                        <div id="topDiv">
                            <div id="portrait">
                                <img th:src="@{${user.portrait}}" />
                            </div>
                            <span th:text="${user.realName}"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-4 leftTitle">编号</div>
                            <div class="col-md-4 " th:text="${user.userCode}"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-4 leftTitle">出生年份</div>
                            <div class="col-md-4 " th:text="${user.year}"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-4 leftTitle">学位</div>
                            <div class="col-md-4" th:text="${user.degree}"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-4 leftTitle">职称</div>
                            <div class="col-md-4" th:text="${user.jobTitle}"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-4 leftTitle">部门</div>
                            <div class="col-md-4" th:text="${sector.sectorName}"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-4 leftTitle">研究方向</div>
                            <div class="col-md-4" th:text="${user.subject}"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-4 leftTitle">个人简介</div>
                            <div class="col-md-4" th:text="${user.intro}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script th:src="@{/js/jquery-2.2.3.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>

</html>