<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>上传新闻 | 通知公告</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/fileinput.min.css}" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css"/>
</head>
<body>
<section>
    <th:block th:include="adminAx/leftSide">
    </th:block>

    <!-- main content start-->
    <div class="main-content" >
        <th:block th:include="adminAx/headSide">
        </th:block>
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table id="testTable" class="display">
                            <thead>
                            <tr>
                                <th>Column 1</th>
                                <th>Column 2</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                        <!--<nav th:with="current=${(pageable.getNumber())+1},total=${pageable.getTotalPages()}">-->
                            <!--<ul class="pagination pagination-lg">-->
                                <!--<li th:if="${current!=1}">-->
                                    <!--<a th:href="@{${pageUrl}(page=${current-1})}" aria-label="Previous">-->
                                        <!--<span aria-hidden="true">&laquo;</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li th:if="${current==1 and total eq 1}" class="active">-->
                                    <!--<a th:href="@{${pageUrl}(page=0)}" >-->
                                        <!--<span th:text="1"></span><span class="sr-only">(current)</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<th:block th:unless="${total eq 1}">-->
                                    <!--<li th:if="${(current-3)gt 0  and (current+3) le total}" th:each="i:${#numbers.sequence(current-3,current+3)}" th:class="${current == i}? 'active'" >-->
                                        <!--<a th:href="@{${pageUrl}(page=${i-1})}" >-->
                                            <!--<span th:text="${i}"></span><span class="sr-only">(current)</span>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li th:if="${(current-3)gt 0 and (current+3) gt total}" th:each="i:${#numbers.sequence(current-3,total)}" th:class="${current == i}? 'active'" >-->
                                        <!--<a th:href="@{${pageUrl}(page=${i-1})}"  th:text="${i}">-->
                                            <!--<span class="sr-only">(current)</span>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li th:if="${(current-3)le 0 and (current+3) gt total}" th:each="i:${#numbers.sequence(1,total)}" th:class="${current == i}? 'active'" >-->
                                        <!--<a th:href="@{${pageUrl}(page=${i-1})}"  th:text="${i}">-->
                                            <!--<span class="sr-only">(current)</span>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li th:if="${(current-3)le 0 and (current+3) le total }" th:each="i:${#numbers.sequence(1,current+3)}" th:class="${current == i}? 'active'" >-->
                                        <!--<a th:href="@{${pageUrl}(page=${i-1})}"  th:text="${i}">-->
                                            <!--<span class="sr-only">(current)</span>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                <!--</th:block>-->
                                <!--<li th:if="${current!=total}">-->
                                    <!--<a th:href="@{${pageUrl}(page=${current+1})}" aria-label="Next">-->
                                        <!--<span aria-hidden="true">&raquo;</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</nav>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script th:src="@{/js/jquery-2.2.3.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<!--当需要看缩略图的时候-->
<!--<script th:src="@{/js/plugins/canvas-to-blob.min.js}" type="text/javascript" ></script>-->
<!--dynamic table-->
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function(){
        console.log("123124");
        $('#testTable').dataTable({
            "ajax": "../user/userList",
            "columns": [
                { "userList": "id" },
                { "userList": "realName" }
            ]
        });

    });
</script>


</html>