<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>新闻阅览页</title>

</head>
<body>
<div th:include="/head"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row-fluid">
                <div class="col-md-3">
                    <div class="list-group" style="width: 100%;">
                        <div  th:with="condition=${(news.type)==3}">
                            <a th:if="${condition}" th:classappend="active" class="list-group-item" th:href="@{/important/importantList/}">学院新闻</a>
                            <a th:unless="${condition}" class="list-group-item" th:href="@{/important/importantList/}">学院新闻</a>
                        </div>
                        <div  th:with="condition=${(news.type)==1}">
                            <a th:if="${condition}" th:classappend="active" class="list-group-item" th:href="@{/important/importantList/}">通知公告</a>
                            <a th:unless="${condition}" class="list-group-item" th:href="@{/important/importantList/}">通知公告</a>
                        </div>
                        <div  th:with="condition=${(news.type)==2}">
                            <a th:if="${condition}" th:classappend="active" class="list-group-item" th:href="@{/important/importantList/}">学生活动</a>
                            <a th:unless="${condition}" class="list-group-item" th:href="@{/important/importantList/}">学生活动</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <h3 id="title" th:object="${news}" th:utext="*{title}" style="text-align: center"></h3>
                    <div id="news" th:object="${news}" th:utext="*{content}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<link th:href="@{/css/pages/showNews.css}" rel="stylesheet"/>
</body>
</html>